.resumeValues{
    -fx-text-fill: #FBFBFB;
    -fx-font: bold 22px "Arial";
}

.nameValues{
    -fx-text-fill: #0A496A;
    -fx-font: bold 12px "Arial";
}

.resumeBackground, .anchorPaneIzq {
    -fx-background-color: #85D4F4;
}

.tabPane{
    -fx-background-color: #85D4F4;
    -fx-font: bold 14px "Arial";
}

.tableView{
    -fx-background-color: #FBFBFB;
}

.button{
    -fx-background-color: #F0AE05;
    -fx-text-fill: #985712;
    -fx-font: bold 14px "Arial";
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 0.0, 0.0 );
}

.button:hover {
    -fx-background-color: #F0AE05;
    -fx-text-fill: #FBFBFB;
}

.buttonAdd{
    -fx-background-color: #34C643;
    -fx-text-fill: #0B650D;
    -fx-font: bold 14px "Arial";
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 0.0, 0.0 );
}
.buttonAdd:hover {
    -fx-background-color: #34C643;
    -fx-text-fill: #FBFBFB;
}

.buttonDelete{
    -fx-background-color: #FB6159;
    -fx-text-fill: #7E0508;
    -fx-font: bold 14px "Arial";
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 5, 0.5, 0.0, 0.0 );
}

.buttonDelete:hover {
    -fx-background-color: #FB6159;
    -fx-text-fill: #FBFBFB;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected{
    -fx-background-color: #0193C8;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FBFBFB;
}

.labelSeleccionaActividad{
    -fx-text-fill: #0A496A;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.labelDateTime{
    -fx-text-fill: #0A496A;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}