/*
.button {
   -fx-background-color: #6B6B6C, #C7C8CA;
   -fx-background-radius: 0%;
   -fx-background-insets: 0, 1, 2;
   -fx-font-family: "Helvetica";
   -fx-text-fill: black;
   -fx-font-size: 25px;
}

.button-op {
   -fx-background-color: #6B6B6C, #F78D12;
   -fx-background-radius: 0%;
   -fx-background-insets: 0, 1, 2;
   -fx-font-family: "Helvetica";
   -fx-text-fill: #FEFEFE;
   -fx-font-size: 25px;
}

 #box{
 	-fx-background-color: #6B6B6C, #202020;
 	-fx-background-radius: 0%;
 	-fx-font-family: "Helvetica";
   -fx-text-fill: #FEFEFE;
}
*/

.resumeValues{
    -fx-text-fill: #FBFBFB;
    -fx-font: bold 22px "Arial";
}

.nameValues{
    -fx-text-fill: #0A496A;
    -fx-font: bold 12px "Arial";
}

.resumeBackground, .anchorPaneIzq {
    -fx-background-color: #85D4F4;
}

.tabPane{
    -fx-background-color: #85D4F4;
    -fx-font: bold 14px "Arial";
}

.tableView{
    -fx-background-color: #FBFBFB;
}

.tableColumn{
    
}

.button{
    -fx-background-color: #F0AE05;
    -fx-text-fill: #985712;
    -fx-font: bold 14px "Arial";
}

.buttonAdd{
    -fx-background-color: #34C643;
    -fx-text-fill: #0B650D;
    -fx-font: bold 14px "Arial";
}

.buttonDelete{
    -fx-background-color: #FB6159;
    -fx-text-fill: #7E0508;
    -fx-font: bold 14px "Arial";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected{
    -fx-background-color: #0193C8;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FBFBFB;
}

.labelSeleccionaActividad{
    -fx-text-fill: #FBFBFB;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.labelDateTime{
    -fx-text-fill: #0A496A;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
