.statisticsBackground {
    -fx-background-color: #85D4F4;
}

.chart-title {
  -fx-text-fill: #0A496A;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-transform: uppercase;
}

.axis-label {
  -fx-text-fill: #FBFBFB;
  -fx-font-weight: bold;
}

.axis {  
    -fx-tick-label-fill: #0A496A;
    /* -fx-tick-length: 20;
    -fx-minor-tick-length: 10; */
}

.labelStatisticsTitle{
    -fx-text-fill: #0A496A;
    -fx-font-weight: bold;
}

.labelStatistics{
    -fx-text-fill: #FBFBFB;
    -fx-font-weight: bold;
}
